In [1]:
# for manipulations...
import pandas as pd
import numpy as np

# for data visualization...
import matplotlib as plt
import seaborn as sns

# for interactivity...
from ipywidgets import interact

In [2]:
# read the dataset
data = pd.read_csv("data.csv")

In [3]:
data.head() # take a look into over data

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [4]:
#lets check any missing value in our data set
data.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [5]:
#lets check shape of our Data
data.shape

(2200, 8)

In [6]:
# lets yake a look on our Cropes 
data['label'].value_counts()

kidneybeans    100
watermelon     100
coffee         100
pigeonpeas     100
lentil         100
orange         100
jute           100
rice           100
grapes         100
mothbeans      100
muskmelon      100
apple          100
blackgram      100
mango          100
papaya         100
maize          100
coconut        100
chickpea       100
banana         100
mungbean       100
cotton         100
pomegranate    100
Name: label, dtype: int64

In [7]:
#Lets check the summery for all cropes

print('Average Ratio of Nitrogen in the Soil:{0:.2f}'.format(data['N'].mean()))
print('Average Ratio of Phosphorous in the Soil:{0:.2f}'.format(data['P'].mean()))
print('Average Ratio of Potassiam in the Soil:{0:.2f}'.format(data['K'].mean()))
print('Average Temperature in Celcius:{0:.2f}'.format(data['temperature'].mean()))
print('Average Relative Humidity in % :{0:.2f}'.format(data['humidity'].mean()))
print('Average ph value for the Soil:{0:.2f}'.format(data['ph'].mean()))
print('Average RainFall in 1mm:{0:.2f}'.format(data['rainfall'].mean()))

Average Ratio of Nitrogen in the Soil:50.55
Average Ratio of Phosphorous in the Soil:53.36
Average Ratio of Potassiam in the Soil:48.15
Average Temperature in Celcius:25.62
Average Relative Humidity in % :71.48
Average ph value for the Soil:6.47
Average RainFall in 1mm:103.46

In [8]:
#Lets check the summery Statistics for all cropes

@interact
def summary (crops=list(data['label'].value_counts().index)):
    x=data[data['label']==crops]
    print("-----------------------------------------------")
    print('Statistics for Nitrogen')
    print('Minimum Nitrogen Required :',x['N'].min())
    print('Average Nitrogen Required :',x['N'].mean())
    print('Maximum Nitrogen Required :',x['N'].max())
    print("-----------------------------------------------")
    print('Statistics for Phosphorous')
    print('Minimum Phosphorous Required :',x['P'].min())
    print('Average Phosphorous Required :',x['P'].mean())
    print('Maximum Phosphorous Required :',x['P'].max())
    print("-----------------------------------------------")
    print('Statistics for Potassium')
    print('Minimum Potassium Required :',x['K'].min())
    print('Average Potassium Required :',x['K'].mean())
    print('Maximum Potassium Required :',x['K'].max())
    print("-----------------------------------------------")
    print('Statistics for Temperature')
    print('Minimum Temperature Required : {0:.2f}'.format(x['temperature'].min()))
    print('Average Temperature Required : {0:.2f}'.format(x['temperature'].mean()))
    print('Maximum Temperature Required : {0:.2f}'.format(x['temperature'].max()))
    print("-----------------------------------------------")
    print('Statistics for Humadity')
    print('Minimum Humidity Required : {0:.2f}'.format(x['humidity'].min()))
    print('Average Humidity Required : {0:.2f}'.format(x['humidity'].mean()))
    print('Maximum Humidity Required : {0:.2f}'.format(x['humidity'].max()))
    print("-----------------------------------------------")
    print('Statistics for PH')
    print('Minimum PH Required : {0:.2f}'.format(x['ph'].min()))
    print('Average PH Required : {0:.2f}'.format(x['ph'].mean()))
    print('Maximum PH Required : {0:.2f}'.format(x['ph'].max()))
    print("-----------------------------------------------")
    print('Statistics for RainFall')
    print('Minimum RainFall Required : {0:.2f}'.format(x['rainfall'].min()))
    print('Average RainFall Required : {0:.2f}'.format(x['rainfall'].mean()))
    print('Maximum RainFall Required : {0:.2f}'.format(x['rainfall'].max()))
    print("-----------------------------------------------")

interactive(children=(Dropdown(description='crops', options=('kidneybeans', 'watermelon', 'coffee', 'pigeonpeaâ€¦

In [ ]:
#Lets check the Average Requirements for each crope with Avergae Conditions 

@interact
def compare(conditions=['N','P','K','temperature','humidity','ph','rainfall']):
    print('Average value for',conditions,'is {0:.2f}'.format(data[conditions].mean()))
    print("-----------------------------------------------")
    print('Rice : {0:.2f}'.format(data[(data['label']=='rice')]['conditions'].mean()))
    print('Black Grams : {0:.2f}'.format(data[(data['label']=='blackgram')]['conditions'].mean())