In [1]:
# for manipulations...
import pandas as pd
import numpy as np

# for data visualization...
import matplotlib as plt
import seaborn as sns

# for interactivity...
from ipywidgets import interact

In [2]:
# read the dataset
data = pd.read_csv("data.csv")

In [3]:
data.head() # take a look into over data

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [5]:
#lets check any missing value in our data set
data.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [6]:
#lets check shape of our Data
data.shape

(2200, 8)

In [11]:
# lets yake a look on our Cropes 
data['label'].value_counts()

banana         100
orange         100
mungbean       100
lentil         100
coconut        100
cotton         100
pomegranate    100
maize          100
rice           100
chickpea       100
kidneybeans    100
mothbeans      100
muskmelon      100
watermelon     100
jute           100
apple          100
grapes         100
papaya         100
mango          100
coffee         100
blackgram      100
pigeonpeas     100
Name: label, dtype: int64

In [13]:
print('Average Ratio of Nitrogen in the Soil:{0:.2}'.format(data['N'].mean()))
print('Average Ratio of Phosphorous in the Soil:{0:.2}'.format(data['P'].mean()))
print('Average Ratio of Potassiam in the Soil:{0:.2}'.format(data['K'].mean()))
print('Average Temperature in Celcius:{0:.2}'.format(data['temperature'].mean()))
print('Average Relative Humidity in % :{0:.2}'.format(data['humidity'].mean()))
print('Average ph value for the Soil:{0:.2}'.format(data['ph'].mean()))
print('Average RainFall in 1mm:{0:.2}'.format(data['rainfall'].mean()))

Average Ratio of Nitrogen in the Soil:5.1e+01
Average Ratio of Phosphorous in the Soil:5.3e+01
Average Ratio of Potassiam in the Soil:4.8e+01
Average Temperature in Celcius:2.6e+01
Average Relative Humidity in % :7.1e+01
Average ph value for the Soil:6.5
Average RainFall in 1mm:1e+02